<h1>LIBROS</h1>
<div class="card-panel orange lighten-3">
    <p>No. de  Etiqueta <input type="number" ng-model="indexInfo"></p>
    <p> Nombre: <input type="text" ng-model="nameInfo" ></p>
    <p> Clasificacion: <input type="text" ng-model="clasificacionInfo" ></p>
    <p> Popularidad: <input type="text" ng-model="popularidadInfo" ></p>
    <p> Descripcion: <input type="text" ng-model="descripcionInfo" ></p>
    <p> Nombre a remover: <input type="text" ng-model="nameRemove" ></p>
    <button class="btn" ng-click="insertInfo()">Agregar</button>
    <button class="btn" ng-click="editInfo()">Editar</button>
    <button class="btn" ng-click="removeInfo()">Eliminar</button>
    </div>

    <table class="bordered card-panel orange lighten-3 highlight">
        <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Clasificacion</th>
        <th>Popularidad</th>
        <th>Descripcion</th>
        </tr>
        <tr ng-repeat="obj in objects">
            <td>{{$index}}</td>
            <td>{{obj.nombre}}</td>
            <td>{{obj.clasificacion}}</td>
            <td>{{obj.popularidad}}</td>
            <td>{{obj.descripcion}}</td>
        </tr>
        

</table>
